*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    color:#222;
    background:#fff;
}
.navbar{
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 70px;
    background:#fff;
    border-bottom:1px solid #e5e5e5;
}

.nav-logo img{
    width:150px;
}

.nav-list{
    display:flex;
    justify-content: center;
    align-items:center;
    gap:30px;
    list-style:none;
}

.nav-list a{
    text-decoration:none;
    color:#222;
    font-size:17px;
    font-weight:500;
}

.nav-reg-btn{
    padding:12px 22px;
    background:#0066ff;
    color:#fff;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;
}


.hero{
    position: relative;
    width: 100%;
    height:calc(100vh - 80px);
}

.hero img{
    width:100%;
    height:100%;
    object-fit:cover;
}


.banner-content{
    position:absolute;
    inset:0;
    z-index:2;

    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;

    padding:90px 0 80px;
    color:#fff;
    text-align:center;
}

.banner-text{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.banner-text h1{
    font-size:68px;
    font-weight:700;
    margin-bottom:20px;
}


.banner-text p{
    width:700px;
    max-width:90%;
    font-size:18px;
    line-height:30px;
    color:#f2f2f2;
}

.reg-btn{
    padding:16px 40px;
    border:none;
    border-radius:6px;
    background:#2563eb;
    color:#fff;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
}

.speakers{
    padding:90px 80px;
}

.speakers h2{
    text-align:center;
    font-size:42px;
    margin-bottom:60px;
}

.container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:35px;
}

.card{
    border:1px solid #ddd;
    border-radius:10px;
    overflow:hidden;
    padding-bottom:25px;
}

.card img{
    width:100%;
    height:320px;
    object-fit:cover;
}

.card h5{
    color:#0066ff;
    font-size:14px;
    margin-top:22px;
    margin-left:22px;
    margin-bottom:10px;
    text-transform:uppercase;
    letter-spacing:1px;
}

.card h3{
    margin-left:22px;
    margin-bottom:10px;
    font-size:26px;
}

.card p{
    margin-left:22px;
    margin-right:22px;
    color:#666;
    font-size:15px;
    line-height:24px;
}
.pricing{
    padding:90px 80px;
    background:#fff;
}

.pricing h2{
    text-align:center;
    font-size:50px;
    margin-bottom:10px;
}

.pricing-subtitle{
    text-align:center;
    color:#777;
    font-size:15px;
    margin-bottom:50px;
}

.price-cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.p-card{
    width:340px;
    padding:22px;
    border:1px solid #e2e2e2;
    border-radius:10px;
    background:#fff;
}

.p-card h5{
    color:#888;
    font-size:12px;
    letter-spacing:1px;
    margin-bottom:10px;
}

.p-card h1{
    font-size:50px;
    margin-bottom:5px;
}

.p-card span{
    font-size:14px;
    color:#888;
}

.p-card hr{
    margin:18px 0;
    border:none;
    border-top:1px solid #e5e5e5;
}

.p-card ul{
    list-style:none;
    margin-bottom:25px;
}

.p-card ul li{
    font-size:15px;
    color:#444;
    margin-bottom:14px;
    position:relative;
    padding-left:18px;
}

.p-card ul li::before{
    content:"•";
    color:#2563eb;
    position:absolute;
    left:0;
}

.p-card button{
    width:100%;
    padding:14px;
    border:1px solid #2563eb;
    border-radius:6px;
    background:#fff;
    color:#2563eb;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.p-card button:hover{
    background:#2563eb;
    color:#fff;
}


.pro{
    background:#0f1c2d;
    color:#fff;
}


.pro span,
.pro ul li{
    color:#ddd;
}
.pro h5{
    color: #0d6efd;
}
.pro hr{
    border-top:1px solid rgba(255,255,255,.15);
}

.pro button{
    background:#2563eb;
    color:#fff;
    border:none;
}

